<div *ngIf="cadeau.prix < montant">
  <div class="cadeau-card" >
    <img src="{{ cadeau.imgURL }}" />
    <ul>
      <li>
        <span class="sousligne">Cadeau :</span>
        {{ cadeau.nom }}
      </li>
      <li>
        <span class="sousligne">Prix :</span>
        {{ cadeau.prix }} €
      </li>
      <li>
        <span class="sousligne">Description :</span>
        {{ cadeau.description }}
      </li>
    </ul>
    <div class="buttonAligner">
      <button type="button" (click)="goToProduct(cadeau)">Trouve le sur le web</button>
    </div>
  </div>
</div>
