.sousligne {
  text-decoration: underline;
  font-weight: bold;
}

.cadeau-card {
  font-size: 15px;
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  margin: 20px;
  background-color: white;
  box-shadow: 2px 2px #212121;
  height: 501px;
}

button {
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  outline: 0;
  background-color: #83a649;
  border: #83a649;
  font-size: 15px;
  cursor: pointer;
}

ul {
  list-style: none;
  margin-right: 20px;
}

.buttonAligner {
  text-align: end;
}

img {
  padding-left: 70px;
  padding-top: 20px;
}
