<form [formGroup]="searchForm">
    <div class="input">
        <label for="prenom">Prénom </label>
        <input id="prenom" type="text" formControlName="prenom">
    </div>
    <div>
        <label for="genre">Genre </label>
        <mat-form-field appearance="fill">
            <mat-select (selectionChange)="onChange($event)">
                <!-- <mat-label>Genre</mat-label> -->
                <mat-option *ngFor="let genre of genres" [value]="genre">
                    {{genre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="input">
        <label for="age">Age </label>
        <input id="age" type="number" formControlName="age">
    </div>
    <div class="input">
        <label for="centre_interet">Centre d'intérêt </label>
        <input id="centre_interet" type="text" formControlName="centre_interet">
    </div>
</form>
