.form-front {
  background-color: #bd250e;
  padding-top: 20px;
}

p {
  text-align: center;
  font-size: 50px;
  padding-bottom: 0px;
  padding-top: 10px;
  font-weight: 600;
  font-family: Goudy Old Style;
}
form {
  display:flex;
  justify-content:space-evenly;
  padding: 20px;
  font-size: 16px;
  font-weight: 450;
  background-color: #bd250e;
  align-items: center;
  color: white;
  text-shadow: 1px 1px #171313;
}

.input-mat {
  margin-top:15px;
  text-shadow: none;
}

input {
  padding: 18px;
  font-size: 16px;
}

.button-search {
  display:flex;
  align-items: center;
}

button {
  font-size: 15px;
  padding: 6px 24px;
  border-radius: 8px;
  background-color: #83a649;
  border: #83a649;
  font-weight: bold;
  cursor: pointer;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.rubik-loader {
  width: 450px;
  height: 450px;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  background-image: url(https://c.tenor.com/BVXKLSt4T7oAAAAd/tenor.gif);
  background-repeat: no-repeat;
  background-position: center;
}
